<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TodoList</title>

    <!-- Custom fonts for this template-->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">TodoList</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
            </li>




            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
<!--            <div class="text-center d-none d-md-inline">-->
<!--                <button class="rounded-circle border-0" id="sidebarToggle"></button>-->
<!--            </div>-->

            <!-- Sidebar Message -->
<!--            <div class="sidebar-card d-none d-lg-flex">-->
<!--            </div>-->

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content" style="margin-top: 10%">

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <form id="frm">
                        <div class="input-group">
                            <input type="text" id="contents" class="form-control bg-light border-1 small" placeholder="할 일을 적어주세요."
                                   aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <input id="add" class="btn btn-primary" type="button" value="추가">
                            </div>
                        </div>
                    </form>


                    <!-- Content Row -->

                    <div class="row" style="margin-top: 10px">
                        <!-- Area Chart -->
                        <div class="col-xl col-lg">
                            <div class="card shadow mb-4">
                                <!-- Card Header -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">목록</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area" style="overflow: scroll" id="list">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy;  2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin-2.min.js"></script>

    <script>
        window.onload=function (){
            getList();
        }
        function getList() {
            $.ajax({
                url: '/todo/api',
                method:'get',
                dataType:'json',
                success:function (data) {
                    $.each(data,function (i,v) {
                        let res='';
                        if(v.finish == 1){
                            res +=    '<div class="row border-bottom align-items-center justify-content-between h-25 border" style="background: #d2d2d2">';
                            res +=  '<label class="col-10" style="text-decoration: line-through">'+v.contents+'</label>';
                        }
                        else {
                            res +=    '<div class="row border-bottom align-items-center justify-content-between h-25 border">';
                            res += '<label class="col-10">' + v.contents + '</label>';
                        }
                        res +=        '<div class="col-2">';
                        res +=            '<i id="del" class="fa fa-times float-right col-6" aria-hidden="true" style="color: red" onclick="del('+v.id+')"></i>';
                        res +=            '<i id="check" class="fa fa-check float-right col-6" aria-hidden="true" style="color: green" onclick="fini('+v.id+')"></i>'
                        res +=        '</div>';
                        res +=   '</div>';
                        $('#list').append(res);
                    })
                },
                error:function () {
                    alert('로딩 실패');
                }
            })
        }
        function del(id) {
            $.ajax({
                url: "/todo/api/delete/"+id,
                method: "post",
                dataType:"json",
                success: function (data) {
                    location.reload();
                },
                error: function () {
                    alert("실패");
                }
            })
        }
        function fini(id){
            $.ajax({
                url:'/todo/api/do/'+id,
                method:"post",
                success: function (data) {
                    location.reload();
                },
                error: function (){
                    alert("실패")
                }
            })
        }
        $(document).ready(function () {
            $('#add').on("click", function () {
                if($('#contents').val().trim().length < 1){
                    $('#contents').focus();
                    alert("값을 입력해 주세요.");
                    return;
                }
                $.ajax({
                    url: "/todo/api/insert",
                    method: "post",
                    contentType: "application/json; charset=UTF-8",
                    dataType:"json",
                    data: JSON.stringify({
                        'contents': $('#contents').val()
                    }),
                    success: function (data) {
                        $('#contents').val("");
                        location.reload();
                    },
                    error: function () {
                        alert("실패");
                    }
                })
            })
        })
    </script>
</body>

</html>